

.container{
  margin: 4em auto; 
}

.list{
  justify-content: center;
  align-items: center;
  margin-left: 3rem; 
}
.movie-card{
  float: left;
  width: 250px;
  border: none;
  margin: .1px .1px;
  position: relative;
  box-shadow: 0 0 2px 0 #41EAD4;
  cursor: pointer;
  background-color: none;
  align-items: center;
  justify-content: center;
}

.movie-card::before{
 
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  
  box-shadow: 0 10px 50px 0 #41EAD4;

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 700ms;
}

.movie-card:hover::before{
  opacity: 3;
}


