.nav-bar{
  background: #011627; 
background: linear-gradient(to right, #011627, #F71735, ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar-brand, .navbar-item{
  color: #FDFFFC !important;
}

.navbar-brand:hover, .navbar-item:hover{
  color: black !important;
}

.nav-form {
  align-items: center;
  float: left;
}
